<div class="project-list-container">
  <div class="page-header">
    <h1 data-test-id="project-list-title">{{ 'project.list.title' | translate }}</h1>
    @if (isAdmin$ | async) {
      <a mat-flat-button routerLink="/projects/new" class="create-btn" data-test-id="project-create-btn">
        <mat-icon>add</mat-icon>
        {{ 'project.list.create' | translate }}
      </a>
    }
  </div>

  <mat-form-field appearance="outline" class="search-field" data-test-id="project-search">
    <mat-label>{{ 'project.list.search' | translate }}</mat-label>
    <input matInput [(ngModel)]="searchTerm" data-test-id="project-search-input" />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>

  @if (loading$ | async) {
    <div class="spinner-container" data-test-id="project-list-loading">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
  } @else if ((filteredProjects$ | async)?.length === 0) {
    <div class="empty-state" data-test-id="project-list-empty">
      <mat-icon>folder_open</mat-icon>
      <p>{{ (searchTerm ? 'common.noResults' : 'project.list.empty') | translate }}</p>
      @if (!searchTerm && (isAdmin$ | async)) {
        <a mat-flat-button routerLink="/projects/new" class="create-btn" data-test-id="project-create-empty-btn">
          <mat-icon>add</mat-icon>
          {{ 'project.list.create' | translate }}
        </a>
      }
    </div>
  } @else {
    <table mat-table [dataSource]="(filteredProjects$ | async) ?? []" class="project-table" data-test-id="project-table">
      <ng-container matColumnDef="key">
        <th mat-header-cell *matHeaderCellDef>{{ 'project.form.key' | translate }}</th>
        <td mat-cell *matCellDef="let project">
          <span class="project-key" data-test-id="project-key">{{ project.key }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{ 'project.form.name' | translate }}</th>
        <td mat-cell *matCellDef="let project">
          <a [routerLink]="['/projects', project.id]" class="project-name" data-test-id="project-link">{{ project.name }}</a>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'project.form.description' | translate }}</th>
        <td mat-cell *matCellDef="let project" class="description-cell">
          {{ project.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let project" class="actions-cell">
          <a mat-icon-button [routerLink]="['/projects', project.id, 'edit']" class="action-btn" data-test-id="project-edit-btn">
            <mat-icon>edit</mat-icon>
          </a>
          <button mat-icon-button (click)="deleteProject(project.id)" class="action-btn action-btn--danger" data-test-id="project-delete-btn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  }
</div>
